<div class="container py-3">
  <div class = "cards">
    <%# @dogs.s.each do |movie| %>
      <%# bookings = Bookings.find_by(user: @dogs, dogs: dogs) %>
      <div class="card">
        <div class="card-img">
          <%#= cl_tag dog.cl_path, class: "card-product img" %>
        </div>
        <div class = "card-body">
          <strong class="card-title"><%#= dog.name %><%#= dog.skills %></strong>
          <p class="card-text"><%#= dog.name %></p>
          <strong>About this Dog </strong>
          <div class="card-text">
            <small class="text-muted"><%#= bookings.comment %></small>
          </div>
          <%= link_to 'ADD',new_dog_booking_path(:dog_id), class: 'btn btn-outline-success' %>
        </div>
      </div>
    <%# end %>
  </div>
</div>
