<div class="content">
  <div class="cards">
    <%# @bookings.each do |dog| %>
      <div class="card-category" <%#=cl_image_path('homepage_bckgrnd.jpg') %>>
          <%#= link_to mybooking_path(:booking_id) do %>
              <%#= dog.name %>
          <%# end %>
      </div>
    <%# end %>
  </div>
</div>
