<%#= render 'shared/banner'%>
<meta charset="UTF-8">
<div class="container">
  <div class = "text-center">
    <%# <h2><strong>These are the dogs you will be renting:</strong></h2> %>
    <%#= link_to "Add Booking", dogs_path, class: 'btn btn-outline-success btn-sm' %>
  </div>
  <div class = "container pb-4 pt-4 ">
    <% @bookings.each do |booking| %>
      <span>
        <div class = 'd-flex justify-content-between'>
          <div>
            <p><%= booking.startdate %> -> <%= booking.enddate %>
            </p>
          </div>
          <div>
            <p>
              <% @dog = Dog.find(booking.dog_id) %>
              <%= @dog.name %>
            </p>
          </div>
        </div>
      </span>
      <div class="card-link" style="display: flex;flex-direction: column;">
        <%= link_to "See more", mybooking_path(booking), class: 'btn btn-flat' %>
      </div>
      <hr class="dropdown-divider">
    <% end %>
  </div>
</div>
