<h1>Your New Booking</h1>
<div class="container">
  <div class = "cards">
    <% fido = @booking.dog %>
      <%# booking = Booking.find_by(dog: @dog, user: user) %>
      <div class="card">
        <div class="card-img">
          <%#= cl_path_url, class: "card-product img" %>
        </div>
        <div class = "card-body">
          <strong class="card-title"><%#= booking.title %></strong>
          <p class="card-text"><%#= dog.skill %></p>
          <strong>skills</strong>
          <div class="card-text">
            <small class="text-muted"><%#= bookmark.comment %></small>
          </div>
          <%#= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{dog.name} from your booking ?"}, class: 'text-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
