<div class="container p-4">
  <h1 class = "text-center">Your Current Booking</h1>
  <div class="card-trip p-4">
    <%= cl_image_tag @dog.photo.key, height: 180, width: 200, crop: :fit %>
    <div class="card-trip-infos">
      <h2> Your booking: <%= @booking.startdate%> - <%= @booking.enddate %></h2>
    </div>
  </div>
  <div>
    <%= render 'shoppingcart', booking: @booking %>
  </div>
</div>
