<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445);">
  <div class="container">
    <h3>Your Current Doggo Rentals</h3>
  </div>
</div>
