<div class = 'container'>
  <h1>content</h1>
  <p>dont touch until back end is okay Find me in app/views/pages/home.html.erb</p>
</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "shared/button" %>
