.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 5px;
}

.dog-pics {
  border-style: solid;
  border-width: medium;
  border-color: #228B22;
}

.card-category {
  min-height: fit-content;
  display: flex;
  color: rgb(26, 25, 25);
  font-size: 15px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-column{
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 0 10px;
}

.mydog-card-photo {
  img{
    height: 150px;
    width: 100%;
    object-fit: cover;
  }
}
.mydog-card-link{
  position: relative;
  top: 58px;
  right: 4px;
}

.mydog-upload-title{
  position: relative;
  left: 135px;
}

.mydog-text{
  position: relative;
  top: 16px;
  right: 11px;
}

.mydog-photo-text {
  position: relative;
  top: 16px;
}
