.navbar-lewagon {
  justify-content: space-between;
  background: #adf9ad;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.back-btn{
  a{
  position: relative;
  top: 8px;
  right: 20px;
  }
}
